# When the service run in conatiner, always change the external drivers host with the service name
ENVIRONMMENT=development
DB_URL=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable&search_path=codebase
DB_NAME=postgres
DB_SCHEMA=codebase
REDIS_URL=localhost:6379
REDIS_PASSWORD=password
DEBUG=true
MIGRATIONS_PATH=file://./migrations/
PORT_API=:8080
PORT_GRAPHQL=:8081
PORT_GRPC=:8082
GRPC_SERVER=localhost:8082
